$text-color: #0b132a;
$button-color: #f53855;
body {
  font-family: "Rubik", sans-serif;
}
header {
  display: flex;
  .logo {
    margin-left: 134px;
    margin-top: 50px;
  }
  nav {
    flex: 1;
    ul {
      list-style: none;
      margin-top: 58.62px;
      margin-left: 173px;
      padding: 0;
      li {
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        padding-right: 40px;
        a {
          display: inline-block;
          text-decoration: none;
          color: #4f5665;
        }
      }
    }
  }
  .login {
    margin-top: 45px;
    padding: 0;
    a {
      text-decoration: none;
      padding-right: 30px;
      padding-left: 150px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $text-color;
    }
    .btn {
      button {
        padding: 0;
        margin-right: 15px;
        width: 150px;
        height: 45px;
        background-color: white;
        color: $button-color;
        font-weight: bold;
        border-radius: 1.5em;
        border-color: $button-color;
      }
    }
  }
}
.hero-banner {
  margin-top: 120px;
  margin-left: 150px;
  height: 382.95px;
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .text-vpn {
      h1 {
        font-style: normal;
        font-size: 50px;
        font-weight: 500;
        line-height: 70px;
        color: $text-color;
      }
      p {
        margin-top: 20px;
        font-style: normal;
        font-size: 16px;
        font-weight: normal;
        line-height: 30px;
        color: $text-color;
      }
      button {
        height: 60px;
        width: 250px;
        margin-top: 50px;
        background: #f53838;
        border-radius: 10px;
        border-color: #f53838;
        color: #ffffff;
        font-style: normal;
        font-size: 16px;
        line-height: 25px;
        font-weight: bold;
      }
      .rectangle {
        position: relative;
        height: 60px;
        width: 211.83px;
        background: rgba(245, 56, 56, 0.35);
        filter: blur(54px);
        border-radius: 10px;
      }
    }
    .vpn-img {
      margin-right: 83px;
    }
  }
}

.user-location {
  margin-top: 110px;
  .rectangle {
    margin-left: 150px;
    padding-top: 110px;
    width: 1140px;
    height: 193px;
    .user-wraper {
      display: flex;
      flex-direction: row;
      img {
        padding: 64.99px 36.5px 73.01px 91px;
      }
      .user {
        padding-top: 60px;
        h3 {
          font-weight: bold;
        }
      }
      .spacer {
        width: 0px;
        height: 125.57px;
        margin-left: 130px;
        margin-top: 29.71px;
        border: 2px solid #eeeff2;
      }
      .spacer:hover {
        border: 2px solid #9eb4f7;
      }
    }

    .location-wraper {
      display: flex;
      flex-direction: row;
      img {
        padding: 64.99px 36.5px 73.01px 91px;
      }
      .location {
        padding-top: 60px;
        h3 {
          font-weight: bold;
        }
      }
      .spacer {
        width: 0px;
        height: 125.57px;
        margin-left: 130px;
        margin-top: 29.71px;
        border: 2px solid #eeeff2;
      }
      .spacer:hover {
        border: 2px solid #9eb4f7;
      }
    }

    .server-wraper {
      display: flex;
      flex-direction: row;
      img {
        padding: 64.99px 36.5px 73.01px 91px;
      }
      .server {
        padding-top: 60px;
        h3 {
          font-weight: bold;
        }
      }
    }
  }
  .rectangle-shadow {
    position: relative;
    width: 1068.84px;
    height: 189.22px;
    margin-left: 150px;
    margin-top: 110px;
    background: #0d1025;
    opacity: 0.06;
    filter: blur(114px);
    border-radius: 10px;
  }
}
